/* For Nav and Colror Scheme */
:root {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 40px 30px;
  height: 100vh;
  background-color: #ffdb00;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  overflow: hidden;
}

.logo--white path {
  fill: #fff;
}

.logo svg {
  max-width: 100%;
  height: auto;
}

.header__button {
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -18px;
  outline: none;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.header__button[data-open='true'] {
  background-color: hsl(52, 100%, 50%);
  -webkit-animation-name: scale;
          animation-name: scale;
}

.header__button[data-open='false'] {
  transition: background-color 250ms linear;
}

@-webkit-keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 3rem;
}

footer svg {
  width: 15%;
}

.header__nav {
  background-color: black;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  -webkit-clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
          clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active='true'] {
  visibility: visible;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.header__menu > .header__menu-item {
  font-size: 10vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0.1em;
}

.header__menu-item a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header__menu-item a:hover {
  font-style: italic;
}
/* For Nav and Colror Scheme */
/* For Heading */
.portfolio-experiment {
  color: #ffffff;
}
.portfolio-experiment .experiment-title {
  outline: none;
  font-size: 6vw;
  text-align: center;
  font-family: "Roboto", monospace;
  min-height: 10vw;
  max-width: 80vw;
  min-width: 10vw;
}
.portfolio-experiment .experiment-title,
.portfolio-experiment .experiment-title * {
  animation: cray 6s infinite steps(50);
  display: inline-block;
}
@keyframes cray {
  2% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  4% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  6% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  10% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  12% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  14% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  16% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  18% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  20% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  24% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  26% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  28% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  30% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  32% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  34% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  36% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  38% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  42% {
    font-weight: 700;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  44% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  46% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  48% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  50% {
    font-weight: 500;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  52% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  54% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  56% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  58% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
  }
  60% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  62% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  64% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  66% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  68% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  70% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  72% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  74% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  78% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 700;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  82% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  84% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  86% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  88% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  92% {
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  94% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  96% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  98% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
}
/* For Heading */